@font-face {
    src: url('RussoOne-Regular.ttf');
}

.anchorPane {
    -fx-background-color: #111111;
}

.base {
    -fx-font-family: "Russo One";
    -fx-base: #fbb03b;
    -fx-background-radius: 0;
    -fx-font-size: 17;
}

.text {
    -fx-text-fill: #fbb03b;
}

.tab-text {
    -fx-font-family: "Russo One";
    -fx-text-fill: BLACK;
    -fx-stroke: WHITE;
    -fx-stroke-width: 1;
    -fx-opacity: 0.5;
}

.button {
    -fx-text-fill: #fbb03b;
    -fx-base: #444444;
}

.play-quit {
    -fx-font-size: 22;
}

#nameTextField {
    -fx-font-size: 19;
    -fx-prompt-text-fill: #777777;
    -fx-text-fill: #444444;
}

.edit-delete {
    -fx-background-color: TRANSPARENT;
}

#deleteButton {
    -fx-text-fill: RED;
}