@font-face {
    src: url('RussoOne-Regular.ttf');
}

.anchorPane {
    -fx-background-color: #111111;
}

.tab-text-main {
    -fx-font-family: "Russo One";
    -fx-fill: WHITE;
    -fx-opacity: 1;
    -fx-stroke-width: 1;
}

.tab-text-header {
    -fx-fill: BLACK;
    -fx-stroke: WHITE;
    -fx-opacity: 0.5;
}

.base {
    -fx-font-family: "Russo One";
    -fx-background-radius: 0;
    -fx-base: #fbb03b;
    -fx-font-size: 17;
}

.button {
    -fx-base: #444444;
    -fx-text-fill: #fbb03b;
}

.media-storm-button {
    -fx-base: #333333;
    -fx-text-fill: YELLOW;
}

.red-base {
    -fx-base: RED;
    -fx-text-fill: WHITE;
}

.green-base {
    -fx-base: GREEN;
    -fx-text-fill: WHITE;
}

.yellow-base {
    -fx-base: YELLOW;
    -fx-text-fill: #444444;
}

.play-quit {
    -fx-font-size: 22;
}

#nameTextField {
    -fx-font-size: 19;
    -fx-prompt-text-fill: #777777;
    -fx-text-fill: #444444;
}

.edit-delete {
    -fx-background-color: TRANSPARENT;
}

#deleteButton {
    -fx-text-fill: RED;
}